// COLORS
$color-primary: #df006f;
$color-primary-light: #289db4;
$color-primary-dark: #2864b4;

$color-primary-first-light: #df006f;
$color-primary-first-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-quaternary-light: #fbfbfb;
$color-quaternary-dark: #b59123;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey-light-huge: #1f1f1f;

// FONT
$default-font-size: 1.8rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;